@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*------------- Header */

header {
    height: 75px;
}

#logo {
    float: left;
    padding: 25px 15px 15px 15px;
    font-weight: 300;
    font-family: "Oswald";
    letter-spacing: 2px;
    color: #fff;

}

.menu ul {
    float: right;
}

.menu ul li {
    display: inline-block;
    letter-spacing: 2px;
    padding: 25px 15px 15px 15px;
    font-weight: 300;
    font-family: "Barlow";
    letter-spacing: 2px;


}



] .menu {
    display: block;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.dropdown-menu h4,
#logo {
    line-height: 30px;
}

.menu li .active h5 {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 80px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
}

.dropdown {
    display: none;
}

/*---------- Banner */
.banner {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;

}


#gym-banner {
    height: 100%;
    width: 100%;
    background: url("../img/bglogo.jpg") no-repeat center center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

}


.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 400px;

}





/*------------ Footer */

#footer-container {
    padding: 50px;
    background: gray;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;

}


.footer-heading h2 {
    margin-bottom: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
}

.footer-heading {
    color: #fff;
    padding: 0;
    display: block;
    height: 300px;
    width: 300px;
    margin: 15px;
}

.footer-1 {

    margin-top: 20px;
    height: 150px;

}

.footer-1 a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer-2 {

    margin-top: 20px;
}

.button-sub {
    padding: 15px;

}

.footer-3 {

    margin-top: 20px;
}

.map {
    width: 100%;
    height: 250px;
}

/*--------- Social media */

.social-media li {

    text-align: center;
    font-size: 36px;

}

.social-media a {
    color: #fff;
    padding: 10px;

}

.social-media {
    display: inline-flex;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    padding: 15px;
    justify-content: space-between;


}

.sm-area {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*--------- cards */
.card-prices {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 0px 30px 50px 30px;
    justify-content: center;

}

.card-body {
    text-align: center;
    justify-content: center;
}

.card-body p {
    padding: 25px
}

.card-prices .cardheight {
    text-align: center;
    min-height: 180px;
}




.card-prices .card {
    padding: 35px;
    clear: none;
    margin: 20px;
}

.titleprice {
    background-color: #ffc107;
    border-radius: 20px;
    text-align: center;
    margin: 0px 30% 0px 30%;
}

.titleprice .pricetxt a {
    text-decoration: none;
    color: black;

}

.pricetxt {
    padding: 40px;
    margin-bottom: 30px;
}





/*------ media */

@media only screen and (max-width: 923px) {


    .dropdown {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    .dropdown .dropdown-item {
        color: black;
    }

    .menu {
        display: none;
    }

    #gym-banner {
        height: 350px;
        width: 100%;

    }

    #footer-container {
        padding: 50px;
        background: gray;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

    }





    .card-prices {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    ::-webkit-scrollbar {
        display: none;
    }

    .banner {
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: relative;

    }

    .footer-heading {
        padding: 30px;
    }

    .social-media {
        display: flex;
        align-content: center;
    }

    .footer-3 {

        margin-top: 0px;
    }

    .timetable .classdesc {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 20px;

    }



    .timetable .classbt {
        display: flex;
        flex-direction: row;

    }

    .timetable .classbt a {
        display: flex;
        align-items: center;
        margin: 10px;
        border-radius: 15px;
        width: 150px;
    }

}

@media only screen and (max-width: 450px) {


    .social-media li {

        text-align: center;
        font-size: 24px;

    }

    .sm-area {
        display: block;
        justify-content: center;
        align-content: center;
    }

    .social-media {
        display: flex;
        align-content: center;
    }

    .footer-heading .map {
        display: none;
    }

    .timetable .classbt {
        display: flex;
        flex-direction: column;
    }

    .banner img {
        max-width: 300px;
    }

}

/*----------- Classes */

#card-classes {
    display: inline-flex;
    overflow-x: scroll;
    max-width: 100%;
    background-color: #fff;
    height: 700px;
    border-top: 2px solid #fff;
}

#card-classes .cardclass {

    height: 650px;
    min-width: 200px;

}

#card-classes .card-body p {
    min-height: 120px;
}

#card-classes .card-body .card-title {
    text-align: center;
}


::-webkit-scrollbar {
    display: none;
}



/*------- timetable */
.timetable {
    background: #fff;

}







/*----- Join us */
.join-us {
    display: block;
    height: 100%;
    background: url("../img/bgjoin.jpg") no-repeat center center;
    padding: 50px;
    border-top: 2px solid #fff;
    justify-content: center;
}

.join-us img {
    width: 500px;
    height: 500px;
    text-decoration: none;
    color: black;
}

.join-us .jumbotron {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.join-us .jointext h1 {
    text-align: center;

}

.join-us .jointext {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: auto;
    height: 150px;
    border: 2px solid black;
}

.formjoin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-us .jointext a {
    text-decoration: none;

}

.user-details {
    display: flex;
}

.formtittle {
    display: flex;
    background: #fff;
    height: 250px;
    width: 500px;
    margin-top: 50px;

}

.formtittle {
    display: flex;
    background: #fff;
    height: 420px;
    width: 410px;
    padding: 30px;
    border: 2px solid black;

}

.forminput {
    display: flex;
    flex-direction: column;
}

.forminput input {
    border: black;
    background: #f1f1f1;
}