@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;1,200;1,500&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*------------- Header */


#logo {
    float: left;
    padding: 25px 15px 15px 15px;
    font-weight: 300;
    font-family: "Barlow";
    letter-spacing: 2px;
    color: #fff;

}

ul {
    float: right;
}

ul li {
    display: inline-block;
    letter-spacing: 2px;
    padding: 25px 15px 15px 15px;
    font-weight: 300;
    font-family: "Barlow";
    letter-spacing: 2px;


}


.menu {
    display: block;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.dropdown-menu h4,
#logo {
    line-height: 30px;
}

.dropdown {
    display: none;
}

/*---------- Banner */
.banner {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;

}


#gym-banner {
    height: 100%;
    width: 100%;
    background: url("../img/bglogo.jpg") no-repeat center center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

}


.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;


}





/*------------ Footer */

#footer-container {
    padding: 50px 0 60px 0;
    background: gray;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

}

.container {
    display: inline-flex;


}

.footer-heading h2 {
    margin-bottom: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
}

.footer-heading {
    color: #fff;
    padding: 20px;
    display: block;

}

.footer-1 {

    margin-top: 20px;

}

.footer-1 a {
    color: #fff;
    text-align: center;
    text-decoration: none;


}

.footer-2 {

    margin-top: 20px;
}

.footer-3 {

    margin-top: 20px;
}

/*--------- Social media */

.social-media li {

    text-align: center;
    font-size: 46px;

}

.social-media a {
    color: #fff;
}

.social-media {
    display: inline-flex;
    position: relative;
    right: 40%;
    text-decoration: none;

}


/*--------- cards */
.card-prices {
    display: inline-flex;
    padding: 50px;
    position: relative;
    left: 20%;

}

.card-prices .card {
    padding: 35px;
    clear: none;
}

.carousel {
    display: none;

}



/*------ media */

@media only screen and (max-width: 923px) {


    .dropdown {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    .dropdown .dropdown-item {
        color: black;


    }

    .menu {
        display: none;
    }

    #gym-banner {
        height: 100%;
        width: 100%;

    }

    .footer-container {
        display: block;
        text-align: center;
    }


    .container {
        display: block;

    }

    .container .footer-2 {
        display: none;
    }

    .card-prices {
        display: none;
    }

    .carousel {
        display: block;
        width: 50%;
        height: 50%;
        position: absolute;

    }

    @media only screen and (max-width: 390px) {
        .map {
            display: none;
        }

        .social-media li {

            text-align: center;
            font-size: 24px;

        }

        .sm-area {
            display: block;
            justify-content: center;
            align-content: center;