@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;1,200;1,500&family=Gowun+Dodum&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*------------- Header */

header {
    height: 75px;
}

#logo {
    float: left;
    padding: 25px 15px 15px 15px;
    font-weight: 300;
    font-family: "Barlow";
    letter-spacing: 2px;
    color: #fff;

}

.menu ul {
    float: right;
}

.menu ul li {
    display: inline-block;
    letter-spacing: 2px;
    padding: 25px 15px 15px 15px;
    font-weight: 300;
    font-family: "Barlow";
    letter-spacing: 2px;


}


.menu {
    display: block;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.dropdown-menu h4,
#logo {
    line-height: 30px;
}

.menu li .active h5 {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 80px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
}

.dropdown {
    display: none;
}

/*---------- Banner */
.banner {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;

}


#gym-banner {
    height: 100%;
    width: 100%;
    background: url("../img/bglogo.jpg") no-repeat center center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

}


.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;


}





/*------------ Footer */

#footer-container {
    padding: 50px 0 60px 0;
    background: gray;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

}

.container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;

}

.footer-heading h2 {
    margin-bottom: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
}

.footer-heading {
    color: #fff;
    padding: 0;
    display: block;
    height: 300px;

}

.footer-1 {

    margin-top: 20px;

}

.footer-1 a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer-2 {

    margin-top: 20px;
}

.button-sub {
    padding: 15px;

}

.footer-3 {

    margin-top: 20px;
}

.map {
    width: 100%;
    height: 250px;
}

/*--------- Social media */

.social-media li {

    text-align: center;
    font-size: 36px;

}

.social-media a {
    color: #fff;
    padding: 10px;

}

.social-media {
    display: inline-flex;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    padding: 15px;
    justify-content: space-between;


}

.sm-area {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*--------- cards */
.card-prices {
    display: flex;
    padding: 50px;
    position: relative;
    justify-content: space-around;


}



.card-prices .card {
    padding: 35px;
    clear: none;
}

.carousel {
    display: none;

}






/*------ media */

@media only screen and (max-width: 923px) {


    .dropdown {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    .dropdown .dropdown-item {
        color: black;


    }

    .menu {
        display: none;
    }

    #gym-banner {
        height: 100%;
        width: 100%;

    }

    .footer-container {
        display: flex;
        text-align: center;
        max-height: 300px;
    }


    .container {
        display: block;

    }

    .container .footer-2 {
        display: block;
        padding: 30px;
    }



    .card-prices {
        display: none;
    }

    #carouselExampleDark {
        display: flex;
        width: 300px;
        height: 400px;
        align-items: center;
        overflow: hidden;
        padding: 50px;
        align-content: center;
    }

    #carouselExampleDark h5 {
        color: white;
    }

    #carouselExampleDark p {
        color: white;
    }
}

@media only screen and (max-width: 390px) {


    .social-media li {

        text-align: center;
        font-size: 24px;

    }

    .sm-area {
        display: block;
        justify-content: center;
        align-content: center;
    }
}

/*----------- Classes */

#card-classes {
    display: inline-flex;
    overflow-x: hidden;
    max-width: 100%;
    background-color: #fff;



}

#card-classes .cardclass {

    height: 650px;





}

/*------- timetable */

.classestime {
    background-color: white;

}

.classestime ul li {
    height: 80px;
    display: flex;
}

.classestime .time {
    width: 70px;
    height: 30px;
    text-align: center;
    display: flex;

}


.classestime div {
    display: none;
}

.classestime input {
    display: none;
}

#dmonday[type=radio]:checked~#monday {
    display: inline-flex;
}

#dmonday[type=radio]:checked~#lmonday {
    background-color: black;
    color: white;
}

#dtuesday[type=radio]:checked~#tuesday {
    display: inline-flex;
}

#dtuesday[type=radio]:checked~#ltuesday {
    background-color: black;
    color: white;
}

#dwednesday[type=radio]:checked~#wednesday {
    display: inline-flex;
}

#dwednesday[type=radio]:checked~#lwednesday {
    background-color: black;
    color: white;
}

#dthursday[type=radio]:checked~#thursday {
    display: inline-flex;
}

#dthursday[type=radio]:checked~#lthursday {
    background-color: black;
    color: white;
}

#dfriday[type=radio]:checked~#friday {
    display: inline-flex;
}

#dfriday[type=radio]:checked~#lfriday {
    background-color: black;
    color: white;
}

#dsaturday[type=radio]:checked~#saturday {
    display: inline-flex;
}

#dsaturday[type=radio]:checked~#lsaturday {
    background-color: black;
    color: white;
}

/*----- Join us */
.join-us {
    display: block;
    height: 100%;
    background: url("../img/bgjoin.jpg") no-repeat center center;
    padding: 50px;
    border-top: 2px solid #fff
}

.join-us img {
    width: 500px;
    height: 500px;
    text-decoration: none;
    color: black;
}

.join-us .jumbotron {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.join-us .jointext h1 {
    text-align: center;

}

.join-us .jointext {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.join-us .jointext a {
    text-decoration: none;
}